.DS_Store
deps
.idea
erl_crash.dump

apps/catacomb_core/log/console.log.0
apps/catacomb_core/log/console.log.1
apps/catacomb_core/log/console.log.2
apps/catacomb_core/log/crash.log.0
apps/catacomb_core/log/crash.log.1
apps/catacomb_core/log/crash.log.2
apps/catacomb_core/log/error.log.0
apps/catacomb_core/log/error.log.1
apps/catacomb_core/log/error.log.2

apps/catacomb_core/catacomb_core.boot
apps/catacomb_core/catacomb_core.rel
apps/catacomb_core/catacomb_core.script

