body {
    padding: 10px;
}

/*.controls {*/
    /*margin: 15px;*/
    /*padding: 20px;*/
    /*background-color: white;*/
    /*border: 1px solid #DDD;*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
/*}*/

.controls {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    *padding-top: 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.controls::after {
    /*content: "Example";*/
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.controls-connection::after {
    content: "Connection";
}
.controls-debug::after {
    content: "Debug";
}
.controls-auth::after {
    content: "Authentication";
}
.controls-characters::after {
    content: "Characters";
}
.controls-game::after {
    content: "Game";
}
.controls-status::after {
    content: "Status";
}
.controls-chat::after {
    content: "Chat";
}
.controls-room-directions::after {
    content: "Room directions";
}

.controls-status {
  max-height: 200px;
  overflow-y: auto;
}
.controls-chat {
  max-height: 200px;
  overflow-y: auto;
}

.response {
    margin: 15px 0;
    padding: 20px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.character-list-button {
    margin: 10px;
}

.chat-message {
    font-size: 10px;
}